/* .RowBody{
    text-align: center;
} */

.TextHeader{
    margin-top: 50%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.TextBody{
    margin-top: 3%;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    font-size: 20px;
    text-align: center;
}