.ImageBodyStyle{
    margin-top: 20%;
    margin-left: 25%;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;
    border: black;
    border-style: double;
}

@media only screen and (max-width: 576px), screen and (max-height: 880px){
    .ImageBodyStyle{
        margin-top: 1%;
        margin-left: 20%;
        margin-right: auto;
        margin-bottom: auto;
        width: 60%;
        border: black;
        border-style: double;
    }
}

@media only screen and (min-height: 668px) and (max-height: 890px){
    .ImageBodyStyle{
        margin-top: 20%;
        margin-left: 25%;
        margin-right: auto;
        margin-bottom: auto;
        width: 50%;
        border: black;
        border-style: double;
    }
}